.MainPage {
    position: relative;
    width: 100%;
    height: wrap; 
    background-color: #f9f8f8;
    padding-bottom: 15%;
    padding-top: 8%;
}

.wave {
    position: fixed;
    bottom: 0%;
    left: 0;
    height: 100%;
    z-index: 0;
}

.editProfileButton {
    margin-top: 5px !important;
    height: 40px;
    font-weight: 700 !important;
    border-radius: 6px !important;
    font-size: 14px !important;
}

@media screen and (max-width: 1050px) {
    .MainPage{
        margin-top: 5%;
    }
  }

@media screen and (max-width: 767px) {
    .wave{
        bottom: -15%;
    }
}