.BasicInfo {
  padding-top: 55px;
  background: #f3f5f6;
}

.BasicInfoMain {
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  max-width: 450px;
  flex-direction: column
}

.textField {
  background: #fff;
  /* margin-top: 10px !important; */
}

.textArea {
  height: 85px !important;
  margin: 0px;
  width: 100%;
  display: block;
  border: 1px solid #c7c7c7 !important;
  border-radius: 5px;
  padding: 12px;
}

.label {
  font-size: 14px !important;
  color: #4e4d4d !important;
}

.titleContact {
  font-size: 17px !important;
  font-weight: bold !important;
  line-height: 1.59 !important;
  color: rgb(0, 17, 20) !important;
  margin-top: 40px !important;
}

.descContact {
  margin-top: -15px !important;
  font-size: 14px !important;
  color: #4e4d4d !important;
}

.downloadArea {
  background: #fff;
  width: 100%;
  padding: 15px 0;
}

.downloadAreaMain {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.downloadListItem {
  text-align: center !important;
  display: block !important;
}

.donwloadTitle {
  font-size: 24px !important; 
  font-weight: bold !important;
}

.downloadDesc {
  font-size: 15px;
  color: #2d2d2d;
}

.downloadHref {
  cursor: pointer !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  line-height: 1.67 !important;
  color: #0066b0 !important;
  margin: 20px 0px !important;
}

.donwloadButton {
  background: #017c96!important;
  color: #fff;
  font-size: 13px !important;
  font-weight: bold !important;
}

@media screen and (min-width: 2300px) {
  .BasicInfo {
    /* margin-left: 14%; */
  }
}

@media screen and (min-width: 1800px) and (max-width: 2299px) {
  .BasicInfo {
    /* margin-left: 11%; */
  }
}

@media screen and (max-width: 1000px) {
  .BasicInfo {
    /* margin-left: 3.25%; */
  }
}

@media screen and (max-width: 767px) {
  .BasicInfo {
    /* margin-left: -14.5%; */
  }
}

@media screen and (max-width: 321px) {
  .BasicInfo {
    /* margin-left: -27%; */
  }
}
