.a {
  position: relative;
  /* right: -90px; */
  margin-top: 15px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #999;
  /* color: rgba(0, 0, 0, 0.87); */
  font-size: 0.9rem;
  transition: 0.3s;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.a:hover {
  color: #3f51b5;
}

@media screen and (max-width: 900px) {
  .a {
    /* right: -25%; */
  }
}

@media screen and (max-width: 321px) {
  .a {
    font-size: 0.7rem;
    /* right: -20%; */
  }
}
